<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Shorty-Link</h1>
    <img 
      src="https://support.rebrandly.com/hc/article_attachments/360020801793/rebrandly_url_shortener_010.png"
      alt="link-image"
      width=200 />
    <h3>Hello There!</h3>
    <p>You are receiving this email because you are subscribed to weekly report of shorty link.</p>
    <p>Here is your report.</p>
    <strong>Thanks for joining and have a great day!</strong>
  </body>
</html>